.root {

    -fx-background-color: linear-gradient(to bottom, #2c3e50, #4ca1af);

}

.toggle-button {
    -fx-background-image: url("larry.png");
     -fx-background-color: linear-gradient(to bottom, #ff7e5f, #feb47b);

    -fx-text-fill: white;

    -fx-font-size: 16px;

    -fx-font-weight: bold;

    -fx-background-radius: 20;

    -fx-padding: 10 20 10 20;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.4), 10, 0, 0, 2);

    
}
.toggle-button:hover {

    -fx-background-color: linear-gradient(to bottom, #feb47b, #ff7e5f);

}
.toggle-button:pressed {

    -fx-background-color: #e65c00;

}


.check-box {

    -fx-text-fill: yellow;
    -fx-font-size: 14px;

}
